/*-------- Global --------*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html{
    font-family: 'Merriweather', serif;
}
.section{
    padding: 10px 10px 0px 10px;
}

.landing{
    background-image: url(./images/bg_01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
}

.features{
    background-image: url(./images/bg_02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
    position: relative;
}

.groups{
    background-image: url(./images/bg_03.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
    position: relative;
}

.showcase{
    background-color: #ddd;
    height: 100vh;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
    
}

h1{
    font-size: 30px;
    margin-bottom: 18px;
}
p{
    font-size: 18px;
    font-weight: 100;
    opacity: 0.9;
    margin-bottom: 28px;
}
a{
    font-size: 15px;
}
.btnOne{
    border: 2px solid white;
    border-radius: 100px;
    padding: 6px 20px;
}
.btnTwo{
    background-color: #1f2122;
    border-radius: 100px;
    padding: 6px 17px;
    display: block;
    width: 160px;
    text-align: center;
    margin-top: 40px;
}


/*-------- Landing --------*/
.landingWrapper{
    width: 88%;
    margin: auto;
}
.nav{
    padding-top: 3rem;

}
.pages{
    float: right;
    text-align: right;
}

.pages a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    vertical-align: middle;
}
.logo{
    width: 160px;
    vertical-align: middle;
}
.landingContent{
    width: 88%;
    margin:150px auto 0px auto;
    display: flex;
}
.contentLeft{
    flex: 0 0 55%;
}
.iphone_hand{
    width: 350px;
    margin-top: -70px;

}
.contentRight{
    flex: 0 0 45%;
}
.contentLeft h1,.contentLeft p,.contentLeft a {
    color: white;
    text-decoration: none;
}
/*-------- Features --------*/
.date{
    position: absolute;
    top: 76px;
    left: 14%;
}
.time{
    position: absolute;
    bottom: 30px;
    right: 13%;
}



/*-------- groups --------*/
.groupsWrapper{
        width: 90%;
        margin: auto;
}
.groupsContent{
    width: 90%;
    margin:85px auto 0px auto;
    display: flex;
}
.groupsImages{
    width: 550px;
    margin-top: -50px;
}
.contentLeft img,.contentLeft h1{
    display: inline-block;
    vertical-align: middle;
}
.groupsContent > .contentLeft p {
    margin-left: 50px;
}
.footer{
    /* margin:-30px 0px 17px 41px; */
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.footer p{
    color: #454d4e;
    display: inline-block;
    margin-left: 5px;
}
.pagesRight{
    float: right;
}
.pagesRight{
    margin-left: 25px;
}
/*-------- work --------*/
.work{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.workText{
    top: 87px;
    left: 508px;
    position: absolute;

}
.workText a{
    text-decoration: none;
}

.workText h5{
    color: black;
}

 .working{
    width: 600px;
    height: 600px;
    float: right;
    margin: 48px 136px;
    background-image: url(./images/project_01.png);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px
    
}


.underline{
    display: block;
	background-color: #fd6592;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}
.workWrapper ul{
    display: block;
    position: absolute;
    left: 38%;
    top: 75%;
    list-style: none;
}
.workWrapper li{
    line-height: 30px;
    margin-top: 10px;
}
/*-------- Work 0 and 02 --------*/

.work2{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.workText2{
    top: 87px;
    left: 685px;
    position: absolute;

}
.workText2 a{
    text-decoration: none;
}

.workText2 h5{
    color: black;
}

 .working2{
    width: 600px;
    height: 600px;
    float: left;
    margin: 48px 136px;
    background-image: url(./images/project_02.png);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px
    
}


.underline{
    display: block;
	background-color: #fd6592;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}
.workWrapper2 ul{
    display: block;
    position: absolute;
    left: 57%;
    top: 75%;
    list-style: none;
}
.workWrapper2 li{
    line-height: 30px;
    margin-top: 10px;
}


/*-------- Card --------*/
.card{
     height: 100vh;
    width: 100%;
    overflow-y: hidden;
    min-height: 600px;
    position: relative;
}
.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    margin-top:70px;      
}

.col{
  width: calc(32% - 1.5rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.front,
.back{
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 460px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
   opacity: 0.8;
    background-color: #297bd5;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/******Footer********/

.footer{
        height: 40px;
    width: 100%;
    position: relative;
    background-color: #5495dd;
}


.footer p {
    position: absolute;
    padding: 0px;
    margin: 0px;
}






